<%- include('header'); -%>

<h2>This is our About page</h2>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi, unde quos.
Veniam quod aliquam libero eos deleniti doloremque saepe eligendi officiis
temporibus, eum sapiente, blanditiis autem sequi sunt fugiat cumque illo nulla
est expedita officia ab itaque ratione pariatur quo. Necessitatibus iure saepe,
repel
lendus alias id distinctio tempore totam pariatur?
</p>

<%- include('footer'); -%>